@import "variables.styl"
@import "header.styl"
@import "chart.styl"

//default styles start
*
  box-sizing border-box
  -moz-box-sizing border-box
i
  display inline-block

a
  text-decoration none
  cursor pointer

body
  background $dark-blue

input, button, textarea, select
  outline none
  border none
  cursor pointer

input[type=text]::-ms-clear
  display none

input[type=password]::-ms-reveal
  display none

input[type='submit'], select
  -webkit-appearance none
  -moz-appearance none
  appearance none

::-webkit-input-placeholder
  color #000
::-moz-placeholder
  color #000 /* firefox 19+ */
:-ms-input-placeholder
  color #000/* ie */
input:-moz-placeholder
  color #000

textarea:focus::-webkit-input-placeholder,
textarea:focus:-moz-placeholder
  color transparent

// default styles end

// select styles
.select-black
  border 2px solid $gray
  border-radius 20px
  padding 10px 20px
  background transparent
  text-align center
  text-transform uppercase
  color $white
  &:hover
    color $blue
    border-color $blue