t-white = #fff; // white text
t-gray = #94949e; // gray text (for header)
t-l-gray = #cdd2d4; // light text color (for table)
t-d-gray = #1c1f28; // dark text color (for table)
t-blue = #39b5ce; // blue text(for tale)
t-green = #adbd6e; // green text(small chart)
t-black = #0f0f0f; // black text (small chart)

h-bg = #1C1F28; // header background
ch-bg = #22353f; // chart background (block)
ch = #33adc9; // chart border, chart background(with opacity from 0 to 1)
white = #fff; // white color for elements
gray = #4c4e4d; // gray color for elements
light-gray = #f2f3f4; // light gray color for table row(1,3,5,7....) and for tabs borders ( pop-up Panel)
row-h = #deeff7; // color for hover row
s-ch-b = #019ac5; // border for small chart(with opacity) and for progress bar(your score) ( pop-up Panel)
s-ch = #d5eff7; // background for small chart(with opacity) (pop-up Panel)
pr-bar = #c2a17c; // for progress bar(community score) (pop-up Panel)


