$white = #fff; // white text, white color for elements
$green = #adbd6e; // green text(small chart)
$black = #0f0f0f; // black text (small chart)
$dark-red = #c2a17c; // for progress bar(community score) (pop-up Panel)

$gray = #94949e; // gray text (for header)
$light-gray = #f2f3f4; // light gray color for table row(1,3,5,7....) and for tabs borders ( pop-up Panel)
$medium-gray = #cdd2d4; // light text color (for table)
$grafit-gray = #4c4e4d; // gray color for elements
$dark-gray = #1c1f28; // dark text color (for table)

$blue = #39b5ce; // blue text(for tale) chart border, chart background(with opacity from 0 to 1)
$light-blue = #d5eff7; // color for hover row, background for small chart(with opacity) (pop-up Panel)
$medium-blue = #22353f; // chart background (block)
$bright-blue = #019ac5; // border for small chart(with opacity) and for progress bar(your score) ( pop-up Panel)
$dark-blue = #1C1F28; // header background

$font-roboto = 'Roboto Condensed';
$font-base = 'Open Sans';


