@font-face {
  font-family: 'customfont';
  src: url("fonts/customfont.eot?rzbulz");
  src: url("fonts/customfont.eot?rzbulz#iefix") format('embedded-opentype'),
        url("fonts/customfont.ttf?rzbulz") format('truetype'),
        url("fonts/customfont.woff?rzbulz") format('woff'),
        url("fonts/customfont.svg?rzbulz#customfont") format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'customfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}

.icon-pencil:before {
  content: "\e901";
}

.icon-droplet:before {
  content: "\e902";
}

.icon-price-tag:before {
  content: "\e903";
}

.icon-coin-dollar:before {
  content: "\e904";
}

.icon-location:before {
  content: "\e905";
}

.icon-upload:before {
  content: "\e906";
}

.icon-hour-glass:before {
  content: "\e907";
}

.icon-spinner11:before {
  content: "\e908";
}

.icon-binoculars:before {
  content: "\e909";
}

.icon-search:before {
  content: "\e90a";
}

.icon-cogs:before {
  content: "\e90b";
}

.icon-hammer:before {
  content: "\e90c";
}

.icon-stats-dots:before {
  content: "\e90d";
}

.icon-stats-bars:before {
  content: "\e90e";
}

.icon-stats-bars2:before {
  content: "\e90f";
}

.icon-trophy:before {
  content: "\e910";
}

.icon-glass:before {
  content: "\e911";
}

.icon-glass2:before {
  content: "\e912";
}

.icon-leaf:before {
  content: "\e913";
}

.icon-lab:before {
  content: "\e914";
}

.icon-bin:before {
  content: "\e915";
}

.icon-bin2:before {
  content: "\e916";
}

.icon-list2:before {
  content: "\e917";
}

.icon-menu:before {
  content: "\e918";
}

.icon-earth:before {
  content: "\e919";
}

.icon-bookmark:before {
  content: "\e91a";
}

.icon-checkmark:before {
  content: "\e91b";
}

.icon-enter:before {
  content: "\e91c";
}

.icon-ctrl:before {
  content: "\e91d";
}

.icon-dropbox:before {
  content: "\e91e";
}
.header {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  z-index: 10;
  width: 100%;
  padding: 30px;
  background: #1c1f28;
}

.header__left {
  width: 45%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.header-logo {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: #39b5ce;
  color: #fff;
}

.header-logo:before {
  display: block;
  position: absolute;
  line-height: 40px;
  top: 0;
  left: 12px;
}

.header-name {
  position: relative;
  padding: 0 0 0 10px;
  margin: 0 0 0 80px;
  line-height: 40px;
  color: #fff;
  font-size: 18px;
}

.header-name:before {
  display: block;
  position: absolute;
  padding: 0 10px;
  border-radius: 50%;
  border: 1px solid #94949e;
  top: 0;
  left: -40px;
}

.header-arrow {
  width: 10%;
  padding: 0 4%;
  position: relative;
}

.header-arrow:before {
  display: block;
  position: absolute;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  font-size: 30px;
  color: #94949e;
}

.header__right {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__item {
  cursor: pointer;
}

.header__item-title {
  text-transform: uppercase;
  color: #94949e;
  font-size: 9px;
  letter-spacing: 1px;
  text-align: center;
  padding: 0 0 5px 0;
}

.header__item-value {
  text-align: center;
  color: #fff;
  font-size: 36px;
  font-family: 'Roboto Condensed';
}

.header__user {
  width: 15%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 10px 0 0;
  line-height: 40px;
}

.header__user-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.header__user-arrow {
  position: relative;
}

.header__user-arrow:before {
  position: absolute;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  font-size: 16px;
  line-height: 34px;
  color: #94949e;
  cursor: pointer;
}

.header__user-name {
  color: #fff;
  font-size: 16px;
  padding: 0 5px;
  letter-spacing: 1px;
}

.header__user-dropdown {
  display: none;
  padding: 10px;
  flex-direction: column;
  position: absolute;
  top: 85px;
  right: 30px;
  background: #22353f;
}

.header__user-item {
  letter-spacing: 0.5px;
  padding: 5px 0;
  color: #94949e;
  font-family: 'Roboto Condensed';
  font-size: 16px;
}

.header__user-item:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 1024px) {
  .header__left {
    width: 40%;
  }

  .header__right {
    width: 60%;
  }

  .header__item-value {
    font-size: 16px;
  }

  .header__user-name {
    font-size: 12px;
  }
}

@media only screen and (max-width: 700px) {
  .header {
    padding: 10px 10px 0 10px;
    flex-wrap: wrap;
  }

  .header-arrow {
    display: none;
  }

  .header__right {
    order: 3;
    width: 100%;
  }

  .header__item-value {
    padding: 0 0 5px 0;
    text-align: left;
  }

  .header__left {
    order: 1;
    width: 70%;
  }

  .header__item-title {
    text-align: left;
  }

  .header__user {
    order: 2;
    width: 30%;
    padding: 0 10px 0 0;
  }

  .header-name {
    margin: 0 0 0 50px;
  }

  .header__user-dropdown {
    top: 50px;
    right: 2px;
  }
}

.chart {
  height: 450px;
}

.chart__tools {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px 100px;
}

.chart__item {
  align-self: center;
  padding: 0 20px;
  text-align: center;
}

.chart__item.select-box:after {
  right: 24px;
}

.chart__market {
  color: #fff;
}

.chart__market-title {
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #94949e;
  font-size: 10px;
  padding: 10px 0 10px 0;
}

.chart__market-value {
  font-size: 38px;
  font-family: 'Roboto Condensed';
}

.chart__market-index {
  font-size: 16px;
  line-height: 40px;
  display: inline-block;
  vertical-align: top;
  font-family: 'Roboto Condensed';
  color: #adbd6e;
}

@media only screen and (max-width: 1024px) {
  .chart__tools {
    padding: 50px;
  }
}

@media only screen and (max-width: 500px) {
  .chart__item {
    flex-direction: column;
    width: 100%;
  }

  .chart__item select {
    width: 100%;
  }

  .chart__item .button {
    width: 80%;
  }

  .chart__item.select-box {
    order: 1;
    margin-top: 15px;
  }

  .chart__tools {
    padding: 20px;
  }
}

.table__header,
.table__tools {
  align-self: center;
}

.table__header {
  background: #fff;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px;
}

.table__tab-list {
  padding-top: 10px;
}

.table__tab {
  display: inline-block;
}

.table__tab:hover a,
.table__tab:focus a,
.table__tab:active a,
.table__tab .active {
  color: #39b5ce;
}

.table__tab a {
  color: #94949e;
  font-size: 16px;
  margin: 0 10px;
}

.input-box {
  position: relative;
}

.input-box .icon-search {
  position: absolute;
  top: 4px;
  left: 8px;
  color: #94949e;
}

@media only screen and (max-width: 768px) {
  .table__tab-list {
    margin: 15px auto;
  }

  .table__tools {
    width: 100%;
  }

  .table__tools .input-box {
    display: inline-block;
    margin: 10px 0;
  }

  .input-box .icon-search {
    top: 10px;
  }
}

@media only screen and (max-width: 500px) {
  .table__tab-list {
    margin: 15px 0;
  }

  .table__tab {
    width: 100%;
    margin: 5px 0;
  }
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

i {
  display: inline-block;
}

a {
  text-decoration: none;
  cursor: pointer;
}

body {
  background: #1c1f28;
  font-family: 'Open Sans' !important;
}

input,
button,
textarea,
select {
  outline: none;
  border: none;
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

input[type=text]::-ms-clear {
  display: none;
}

input[type=password]::-ms-reveal {
  display: none;
}

input[type='submit'],
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

::-webkit-input-placeholder {
  color: #000;
}

::-moz-placeholder {
  color: #000 ;
}

:-ms-input-placeholder {
  color: #000 ;
}

input:-moz-placeholder {
  color: #000;
}

textarea:focus::-webkit-input-placeholder,
textarea:focus:-moz-placeholder {
  color: transparent;
}

.select-box select {
  border: 2px solid #94949e;
  border-radius: 25px;
  padding: 10px 25px;
  background: transparent;
  text-align: center;
  text-transform: uppercase;
}

.select-box select.select-black {
  color: #fff;
}

.select-box:hover .select-black {
  color: #39b5ce;
  border-color: #39b5ce;
}

.select-box:hover:after {
  color: #39b5ce;
}

.select-box {
  position: relative;
}

.select-box:after {
  display: block;
  cursor: pointer;
  font-family: 'customfont';
  content: "\e91d";
  position: absolute;
  font-size: 22px;
  color: #fff;
  right: 4px;
  top: 5px;
  z-index: -1;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.button {
  border: 2px solid #94949e;
  border-radius: 25px;
  padding: 10px 25px;
  background: transparent;
  text-align: center;
  text-transform: uppercase;
}

.button.dark {
  color: #fff;
}

.button:hover {
  color: #39b5ce;
  border-color: #39b5ce;
}

.button-round {
  border: 2px solid #94949e;
  border-radius: 50%;
  padding: 9px;
  font-size: 14px;
  background: transparent;
  text-align: center;
  text-transform: uppercase;
}

.button-round.dark {
  color: #fff;
}

.button-round.white {
  color: #4c4e4d;
}

.button-round:hover {
  color: #39b5ce;
  border-color: #39b5ce;
}

.input {
  border: 2px solid #94949e;
  border-radius: 25px;
  padding: 10px 25px;
  background: transparent;
  text-align: left;
  text-transform: uppercase;
}

.input:focus {
  border-color: #39b5ce;
}

.input .search {
  color: #4c4e4d;
}

.page-content {
  padding-top: 100px;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}